table {
    border-collapse: collapse;
    width: 100%;
  }
  
th,td {
    border: 1px solid #090909;
    padding: 8px;
    color:rgb(7, 7, 7);
  }
  
 th {
    text-align: left;
  }
  select
  {
      border-color: #090909;
      background-color: rgb(239, 235, 235);
      padding: 8px;
      font-weight: bold ;
  }
  